.thumbnailContainer {
  position: absolute;
  top: 50%;
  left: 20px;
}

.thumbnail {
  opacity: 0.6;
  width: 105px;
  object-fit: cover;
  padding: 5px;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid white;
}

.slide {
}
