.carouselContainer {
  position: relative;
  overflow: hidden;
}

.thumbnailContainer {
  position: absolute;
  top: 50%;
  left: -150px;
}

.carouselContainer:hover .thumbnailContainer {
  left: 20px;
  transition: 1s;
}

.thumbnail {
  opacity: 0.6;
  width: 105px;
  object-fit: cover;
  padding: 5px;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid white;
}

.arrow {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carouselContainer:hover .arrow {
  opacity: 1;
}
